* {
	margin: 0px;
	padding: 0px;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: #f0f0f0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**ͷ�񲿷ּ�����Ԥ��**/
#pageClientCenter_wrapper>.back {
	background-image: url('../images/clientCenterBk.jpg');
    text-align: center;
    background-size: 100% 100%;
}

#pageClientCenter_wrapper>.back>.face{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 32px;
}

#pageClientCenter_wrapper>.back>.name{
    color: #ddd;
    font-family: Microsoft YaHei;
    font-size: 15px;
    margin-top: 14px;
}

#pageClientCenter_wrapper>.back>.orderPrew{
    overflow: hidden;
    margin-top: 24px;
    display: table;
    width: 100%;
}

#pageClientCenter_wrapper>.back>.orderPrew>div {
     width: 33.33333%;
    display: table-cell;
    text-align: center;
    font-family: Microsoft YaHei;
    font-size: 14px;
    background: rgba(10,10,10,0.7);
    padding: 4px 0px;
    line-height: 22px;
    border-left: 1px solid #666;
}

#pageClientCenter_wrapper>.back>.orderPrew>div:nth-of-type(1){
	 border-left: 0px;
}

#pageClientCenter_wrapper>.back>.orderPrew>div>span:nth-of-type(1) {
    color: #f3f3f3;
    display: block;
    font-size: 17px;
}

#pageClientCenter_wrapper>.back>.orderPrew>div>span:nth-of-type(2) {
    color: #ddd;
    display: block;
    font-size: 12px; 
}

/**�ӹ����б�**/
#pageClientCenter_wrapper>.list {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

#pageClientCenter_wrapper>.list.border{
	border-bottom: 1px solid #eee;
}

#pageClientCenter_wrapper>.list>.iconfont.icon{ 
    float: left;
    font-size: 29px;
    background-color: #08c;
    color: #fff;
    padding: 11px;
    border-radius: 100%;
    line-height: 29px;
}

#pageClientCenter_wrapper>.list>.text{
    float: left;
    margin-left: 12px;
    font-family: Microsoft YaHei;
    padding-top: 6px;
}

#pageClientCenter_wrapper>.list>.text>span:nth-of-type(1){
	display: block;
    font-size: 15px;
    color: #333;
}

#pageClientCenter_wrapper>.list>.text>span:nth-of-type(2){
    display: block;
    font-size: 12px;
    color: #888;
    padding-top: 5px;
}

#pageClientCenter_wrapper>.list>.iconfont.nav{
    float: right;
    display: inline-block;
    padding-top: 22px;
    color: #999;
}

/**����δ���۵Ķ���**/
#pageClientCenter_wrapper>.rate{
    background-color: #fff;
    text-align: right;
    padding-right: 20px;
    color: #fff;
    border-bottom: 1px solid #eee;
    padding-bottom: 24px;
}

#pageClientCenter_wrapper>.rate>span{
	background-color: #0f9d58;
    font-size: 12px;
    font-family: Microsoft YaHei;
    padding: 4px 13px 4px 0px;
    border-radius:2px;
}

#pageClientCenter_wrapper>.rate>span:before{
    content: '';
    border-width: 7px;
    border-style: solid;
    border-color: #0f9d58 transparent transparent transparent;
    position: relative;
    top: 23px;
    left: 10px;
 }
 
 /**��˾����**/
 #pageClientCenter_wrapper>.footer{
	 text-align: center;
     font-size: 12px;
     color: #bbb;
     font-family: Microsoft YaHei;
     margin: 30px 0px 80px 0px; 
 }
 
#pageClientCenter_wrapper> .footer>span{
	 display: block;
 }